.btn {
    background-color: #03BE5E !important;
}
.register-btn{
    background-color: #03BE5E !important;
}
.googleform{
    width:700px;
     height:2200px; 
    
}
.banner-item{
    /* background-blend-mode: darken; */
    background-image:url(./images/hero_area/ods-banner.jpg);
    background-repeat: no-repeat;
    
}
.image-gallery{
    transition: all .3s;
}
.image-gallery:hover{
    transform: scale(1.05);
}
.contact-link{
    color: #8888 !important;
}
.about-row1{
    text-align: justify;
}
@media screen and (max-width:992px) {
    .about-row1{
        margin:0 0.3rem 0 0.3rem;
    }

    .about-us-img > img {
        width:19rem;
    }
}
.address{
    color: #31004A;
}
.navbar-toggler{
    background-color: #03BE5E  !important;
    border:1px solid #03BE5E  !important
}
.ticket-btn{
    background-color: #03BE5E !important;
}
.icon-ring-4Asset-3{
    color: #FF5A5F !important;
}
.icon-ring-3Asset-2{
    color: #06AED5!important;
}
.icon-ring-1Asset-1{
    color: #9DE5A7 !important;
}

.about-us-h2{
    /* color: #333333 !important; */

}
.big-footer{
    margin-bottom: 5rem !important;
}
.why-join{
    color: #03BE5E !important;
}
.count-number1{
    background-color:#FF5A5F !important 
}
.count-number2{
    background-color:#9DE5A7 !important 
}
.count-number2{
    background-color:#31004A !important 
}

.number-1{
    background-color:#FF5A5F !important ;
}
.number-2{
    background-color:#31004A !important ;
}
.number-3{
    background-color:#06AED5 !important ;
}
.number-4{
    background-color:#9DE5A7!important ;
}
.column-title {
    color: #03BE5E;
}
.speakers-form{
    
}
.apply-speaker{
   
    height: 0rem!important;
  
}

.ts-speakers{
    /* background-color: blue; */
    padding-top:3rem !important;
    padding-bottom: -10px;
    height: 21rem!important;
}
.speaker-section{
    /* background-color: red; */
    padding-top: -10rem!important;
    margin-top: -5rem;

}
.contact-form{
   
    margin-top: -6rem;
}
.apply-btn{
    margin-top: -5rem !important;
}
.about-column-title{
    /* width: 400px !important;
    background-color: red; */
   color: #03BE5E;
}


.venue-fatures{
    background-image: url('./images/venue/patten3');
}
.exp-img{
    background:rgba(0,0,0,0.7)url(./images/gtX-img.jpg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    
}
.sponsor-text-box{
    height:5rem !important;
}
.sponsors-wrap{
    /* background-color: red; */
    padding:0rem  !important;
}
.why-join-card{
    height: 14.5rem !important;
}